@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  /* 고딕 폰트 적용 */
  font-family: 'Noto Sans KR', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
